<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
    <div th:fragment="footer">
        <!-- footer -->
        <footer id="footer">
            <h1 class="text-center">Elite Furnishings</h1>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ab?</p>
            <div class="icons text-center">
                <i class="bx bxl-twitter"></i>
                <i class="bx bxl-facebook"></i>
                <i class="bx bxl-google"></i>
                <i class="bx bxl-skype"></i>
                <i class="bx bxl-instagram"></i>
            </div>
            <div class="copyright text-center">
                &copy; Copyright <strong><span>Elite Furnishings</span></strong>. All Rights Reserved
            </div>
            <div class="credite text-center">
                Designed By <a href="#">huylv</a>
            </div>
        </footer>
        <!-- footer -->
    </div>
</body>

</html>